#img-bg{
    background-image: url(https://th.bing.com/th/id/R.b407c1e43e8a9b74e7b2cd2dae2aea72?rik=sH2GFxNqBaaJDQ&pid=ImgRaw&r=0.png);
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}